* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font: 1.8em Helvetica, Arial;
  background-color: rgb(176, 235, 231)
}

form {
  background: rgb(240, 4, 4);
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%;
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background: rgb(245, 111, 2);
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: rgb(204, 250, 1);
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */